[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/csapprox"]
	path = .vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
