! Xresources file

!URxvt*termName: rxvt-unicode-256color
URxvt*termName: xterm-256color
URxvt*loginShell: true
! transparency - true or false (default)
! URxvt*transparent: true
! shading - 0 to 99 darkens, 101 to 200 lightens.
! URxvt*shading: 20

URxvt.intensityStyles: false

! scrollbar - true (default) or false
URxvt*scrollBar: false
! scrollbar position - left=false (default) or right=true
URxvt*scrollBar_right: true
! scrollbar style - rxvt (default), plain, next, or xterm
URxvt*scrollstyle: rxvt

! scrollback buffer lines - 65535 is max on most machines (64 is default)
URxvt*saveLines: 20000

! font color (default is black)
URxvt*foreground: White
! background color (prior to tinting) (default is white)
URxvt*background: Black

! Xft: DejaVu fonts
!  Fedora/debian packages: libXft/libxft2
!  Fedora/debian packages: dejavu-sans-mono-fonts/ttf-dejavu 
URxvt*font: xft:DejaVu Sans Mono:pixelsize=16:antialias=true:hinting=true
URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=16:antialias=true:hinting=true

! Replace blue folder colors with a lighter shade for clarity. To
!  set colored folders and files within urxvt, xterm, and aterm, add
!  the following line to your ~/.bashrc ($HOME/.bashrc) file under
!  the heading "! User specific aliases and functions":
!   alias ls="ls -h --color=auto"
*color4: SteelBlue1
*color12: SteelBlue1

! Disable Perl extensions :
!URxvt.perl-ext-common:  default,tabbed
URxvt*perl-ext:
URxvt*perl-ext-common: font-size
URxvt.keysym.C-equal: perl:font-size:increase
URxvt.keysym.C-minus: perl:font-size:decrease
URxvt.keysym.C-S-up: perl:font-size:show
URxvt.keysym.C-S-down: perl:font-size:reset

! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt*keysym.Home: \033OH
URxvt*keysym.End: \033OF

! Fonts config
Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    0
Xft.hintstyle:  hintnone
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb
