[Desktop Entry]
Version=1.1
Type=Application
Name=jetbrains-idea
Icon=/opt/idea-IU-203.7148.57/bin/idea.svg
Exec=/opt/idea-IU-203.7148.57/bin/idea.sh
Actions=
Categories=Development;IDE;
