[Desktop Entry]
Version=1.1
Type=Application
Name=Postman
Icon=/opt/Postman-linux-x64-8.3.1/Postman/app/resources/app/assets/icon.png
Exec=/opt/Postman-linux-x64-8.3.1/Postman/Postman
Actions=
Categories=Development;X-GNOME-Other;
