[Desktop Entry]
Version=1.1
Type=Application
Name=PyCharm
Icon=/opt/pycharm-community-2021.1.2/bin/pycharm.png
Exec=/opt/pycharm-community-2021.1.2/bin/pycharm.sh
Actions=
Categories=Development;IDE;
